.App {
  text-align: center;
  padding: 40px;
}
.container {
  padding: 40px 140px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.board {
  text-align: center;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.item {
  border: 1px solid #ddd;
  text-align: center;
  padding: 40px 20px 10px;
  font-weight: 700;
}

.restart{
  cursor: pointer;
  color: white;
  border: 1px solid #333;
  border-radius: 8%;
  background-color: #333;
  width: 80px;
  padding: 10px;
  margin: 50px 100px;
}
